@import url('https://fonts.googleapis.com/css?family=Lora');

@font-face {
  font-family: 'Digital';
  src: url('./digital-7.ttf')
}

/*https://github.com/extempl/neon/blob/master/css/neon.css*/


*[data-neon='basic'], *[data-neon='custom'] span {
	color: #fff;
	text-shadow:0 0  .1em rgba(255, 255, 255, .6),
				0 0  .6em rgba(255, 255, 255, .2),
				0 0 1.2em rgba(255, 255, 255, .4),
				0 0 1.8em rgba(255, 255, 255, .6),
				0 0 2.4em rgba(255, 255, 255, .8),
				.02em .02em  .1em rgba(0, 0, 0, 1);
}

.summary {
  text-align: center;
}

#homeScore, #visitingScore, .currentHomeScore, .currentVisitingScore {
  font-family: 'Digital';
  font-size: 80px;
  color: white
}

body {
font-family: 'Lora', serif;
}

.nope {
  font-size: 50px
}

.container {
  display: none
}

.script {
  margin-top: 20%;
}

.innercontain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  visibility: hidden
}

.relative {
  margin-top: 11%;
  /*position: relative;*/
  /*margin-left: auto;
  margin-right: auto;*/
}


.homeTeamName, .awayTeamName {
  font-size: 50px;
  font-family: 'Digital';
  color: white;
}

.sadWall, .happyWall, .scowlWall {
  margin: 0 auto;
  height: 200px;
  display: none;
  border: 2px solid black;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*border: 2px solid black;*/
  height: 50%;
  width: 50%;
}

.loading img {
  margin-left: 25%;
}

.scoreboard {
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  /*border: 2px solid black;*/
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hidden {
  display: none;
  width: 50%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}


.home {
  /*border: 2px solid black;*/
  width: 45%;
  height: 50%;
  float: left;
  text-align: center;
  display: none
}

.away {
  /*border: 2px solid black;*/
  width: 45%;
  height: 50%;
  float: right;
  text-align: center;
  display: none
}

.home span, .away span {
  vertical-align: middle;
}
