@import url('https://fonts.googleapis.com/css?family=Asap+Condensed');

@font-face {
  font-family: 'Digital';
  src: url('./digital-7.ttf')
}

body {
  font-family: 'Asap Condensed', sans-serif;
}
/*https://github.com/extempl/neon/blob/master/css/neon.css*/


*[data-neon='basic'], *[data-neon='custom'] span {
	color: #fff;
	text-shadow:0 0  .1em rgba(255, 255, 255, .6),
				0 0  .6em rgba(255, 255, 255, .2),
				0 0 1.2em rgba(255, 255, 255, .4),
				0 0 1.8em rgba(255, 255, 255, .6),
				0 0 2.4em rgba(255, 255, 255, .8),
				.02em .02em  .1em rgba(0, 0, 0, 1);
}

.all {
  display: none
}

.summary {
  text-align: center;
}

.img {
  margin: 0 auto
}

.tweetButton {
  display: none;
  margin-left: auto;
  margin-right: auto
}

#homeScore, #visitingScore, .currentHomeScore, .currentVisitingScore {
  font-family: 'Digital';
  font-size: 80px;
  color: black;
}


.nope {
  font-size: 50px
}

.container {
  display: none
}

.script {
  margin-top: 20%;
}


.homeTeamName, .awayTeamName {
  font-size: 50px;
  font-family: 'Digital';
  color: black;
}

#sadWall, #happyWall, #scowlWall {
  margin: 0 auto;
  height: 150px;
  display: none;
  /*border: 2px solid black;*/
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*border: 2px solid black;*/
  height: 50%;
  width: 50%;
}

.homebtn {
  display: none;
  font-size: 18px;
  height: 5%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  /*width: 15%;*/
  text-align: center;
  border: 2px solid black;
  -webkit-appearance: none;
}

.homebtn h3 {
/*padding-left: 15%;
padding-right: 15%;
padding-top: 5%;
padding-bottom: 5%;*/
}

.homebtn:hover {
cursor: pointer;
background-color: rgba(0, 43, 92, 0.1);
color: white
}

.intro {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*border: 2px solid black;*/
  height: 80%;
  width: 50%;
  text-align: center
}

.intro img {
  height: 150px
}

.latest {
  /*width: 45%;*/
  height: 15%;
  /*float: left;*/
  text-align: center;
  margin: auto;
  /*border: 2px solid black;*/
  vertical-align: center;
  -webkit-appearance: none;
}

.latest h3 {
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  border: 2px solid black
}

.browse h3 {
  font-size: 24px;
  width: 80%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  border: 2px solid black
}

.or {
  font-family: 'Digital';
  font-size: 24px;
  color: black
}

.browse h3:hover, .latest h3:hover {
  cursor: pointer;
  background-color: rgba(0, 43, 92, 0.1);
  color: white
}

.browse {
  /*margin-top: 8%;*/
  /*width: 45%;*/
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  /*float: left;*/
  text-align: center;
  /*border: 2px solid black;*/
  vertical-align: center;
  -webkit-appearance: none;
}

.intro h1 {
  font-size: 64px;
  font-family: 'Digital';
  color: black;
}

.intro h2 {
  font-size: 52px;
  font-family: 'Digital';
  color: black
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.showAll {
  display: none;
  margin-top: 2%;
  width: 50%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px
}

.all {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*border: 2px solid black;*/
  height: 80%;
  width: 50%;
  text-align: center;
}

.logo {
  height: 200px
}

.choose {
  margin: 0 auto;
  font-size: 24px;
}

.loading img {
  margin-left: 25%;
}

.scoreboard {
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  /*border: 2px solid black;*/
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hidden {
  display: none;
  width: 50%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}


.home {
  /*border: 2px solid black;*/
  width: 45%;
  height: 50%;
  float: left;
  text-align: center;
  display: none
}

.away {
  /*border: 2px solid black;*/
  width: 45%;
  height: 50%;
  float: right;
  text-align: center;
  display: none
}

.home span, .away span {
  vertical-align: middle;
}

@media only screen and (max-width: 600px)  {
  .hidden {
    width: 70%;
  }
  .intro {
    width: 80%;
  }
  .latest h3, .browse h3 {
    font-size: 35px
  }
  .latest, .browse {
    width: 90%;
  }
  .browse {
    margin-top: 30%
  }
  .scoreboard {
    margin-top: 8%;
}
}
